---
title: РосВояж
---
extends layouts/_layout

block content
	//- contact section
	-
		var contact = {
		classMod: '_default _bg-1',
		title: 'Мы можем связаться с вами уже сейчас, и предложить вам тур по вашим предпочтениям',
		formInClassMod: 'sm',
		titleCase: '_upper'
		}
	include components/_contact

	//begin rest
	+b.SECTION.rest._default
		+b.sect-title
			+e.container.container
				+b.H2.title-md Ваш комфортный отдых - Наша забота
		-
			var featuresClass = '_default'
			var featuresList = [{
			descr: 'Полная модернизация теплохода произведена',
			descrBottomBold: 'в 2006 году',
			picMod: 'modern'
			},
			{
			descr: 'Санузел, кондиционер, холодильник',
			descrBottomBold: 'в каждом номере',
			picMod: 'refrigerator'
			},
			{
			descr: 'Капитальный ремонт был произведён',
			descrBottomBold: 'в 2013 году',
			picMod: 'repair'
			},
			{
			descr: 'Теплоход спроектирован и собран',
			descrBottomBold: 'в Германии',
			picMod: 'ship'
			}];

			var lookClass= '_default'
			var lookList= [{
			colMod: 'sm',
			pic: '1',
			title: 'Виды кают',
			descr: 'Просто текст без смысла'
			},
			{
			colMod: 'md',
			pic: '2',
			title: 'Ресторан',
			descr: 'Просто текст без смысла, в два рядка'
			},
			{
			colMod: 'sm',
			pic: '3',
			title: 'Бар',
			descr: 'Просто текст без смысла, в два рядка'
			},
			{
			colMod: 'md',
			pic: '4',
			title: 'Развлекательная программа',
			descr: 'Просто текст без смысла'
			},
			{
			colMod: 'md',
			pic: '5',
			title: 'Экскурсионная программа',
			descr: 'Просто текст без смысла'
			}]

		include components/_features
		include components/_look
		//end rest

	//- cabin-types section
	-
		var cabinTypes = {
		classMod: '_default',
		title: 'Виды кают'
		};
		var cabinTypesRow = [{
		title: 'Люкс',
		pic: '1'
		},{
		title: 'ПолуЛюкс',
		pic: '2'
		},{
		title: 'Стандарт',
		pic: '3'
		},{
		title: 'Эконом',
		pic: '4'
		}];
	include components/_cabin-types

	//- contact section
	-
		var contact = {
		classMod: '_default _bg-2',
		title: 'Нужна помощь? Поможем с выбором!',
		descr: 'Оставьте заявку и менеджер свяжется с вами, чтобы подобрать вам индивидуальную программу отдыха по вашим финансовым возможностям и предпочтениям',
		formTimeField: true
		}
	include components/_contact

	//- fun section
	-
		var fun = {
		classMod: '_default',
		title: 'Развлечения найдутся для каждого'
		}
		var funRow = [{
		icon: 'restaurant',
		text: 'Ресторан'
		},{
		icon: 'disco',
		text: 'Диско-бар'
		},{
		icon: 'conference',
		text: 'Конференц зал'
		},{
		icon: 'horse',
		text: 'Детская комната'
		},{
		icon: 'masterclass',
		text: 'Мастер-классы'
		}]
	include components/_fun

	-
		var view = {
		classMod: '_default'
		}
		var viewSlider = [{ img: '1'},{ img: '2'},{img: '3'},{img: '4'},{img: 'big'},{img: '1'}]
	include components/_view


	//begin restaurant
	+b.SECTION.restaurant._default
		+b.sect-title._has-link
			+e.container.container
				+e.H2.text.title-md Ресторан
				+e.A.link.link-decor(href='#!')
					+png('binocular')
					+e.SPAN Смотреть примерное меню
		+e.container.container
			+e.row
				-
					var restaurantRow = [{
					img: 'director',
					name: 'Элита Станислава Пономарева',
					position: 'Директор'
					},{
					img: 'chief-cook',
					name: 'Надежда Михайловна Волчкова',
					position: 'Шеф-повар'
					}];
				mixin restaurantItem(item)
					+e.person
						+e.person-pic
							+e.IMG(src='img/content/#{item.img}.jpg').person-img
						+e.person-text
							+e.person-name= item.name
							+e.person-pos= item.position
				each item in restaurantRow
					+restaurantItem(item)

		-
			var featuresClass = '_restaurant'
			var featuresList = [{
			descrTopBold: '3-разовое питание',
			descr: 'завтрак, обед и ужин в одну смену.',
			picMod: 'restaurant'
			},
			{
			descrTopBold: 'Заказное меню',
			descr: 'С возможностью выбора блюд. На выбор предлагаются салаты, супы (на обед), основные блюда и десерты. Заказная система действует, начиная со 2-го дня.',
			picMod: 'menu'
			},
			{
			descrTopBold: 'Для отдыхающих, к оторые придерживаются диеты или предпочитают пишу “халяль”,',
			descr: 'наши повара приготовятспециальные блюда. Для самых маленьких путешественников можно заказать блюда из “Детского меню”.',
			picMod: 'diet'
			},
			{
			descrTopBold: 'Дни национальной кухни',
			descr: 'русской, украинской, грузинской, итальянской, мексиканской, индийской и т.д.',
			picMod: 'national'
			},
			{
			descrTopBold: 'Детское меню',
			descr: 'специально разработано. Для маленьких туристов (до 5 лет), путешествующих бесплатно (без предоставления отдельно спального места и питания).',
			picMod: 'ice-cream'
			}];
		include components/_features
	//end restaurant

	include components/_bar