---
title: РосВояж
---
extends layouts/_layout

block content

	//begin contact
	+b.SECTION.contact._default._bg-1
		+e.container.container
			+b.H3.title-sm.contact__title._upper МЫ МОЖЕМ СВЯЗАТЬСЯ С ВАМИ УЖЕ СЕЙЧАС,
				br
				| И ПРЕДЛОЖИТЬ ВАМ ТУР ПО ВАШИМ ПРЕДПОЧТЕНИЯМ
			+e.FORM
				+e.form-in._sm
					+e.form-field
						+png('user')
						+e.INPUT(type='text' name='' placeholder='Имя').form-input.input
					+e.form-field
						+png('call')
						+e.INPUT(type='text' name='' placeholder='Телефон').form-input.input
					+e.form-field
						+e.BUTTON(type='submit').form-btn.btn-transparent Позвоните мне
	//end contact

	//begin rest
	+b.SECTION.rest._default
		+b.sect-title
			+e.container.container
				+b.H2.title-md Ваш комфортный отдых - Наша забота
		-
			var featuresClass = '_rest'
			var featuresList = [{
			descr: 'Полная модернизация теплохода произведена',
			descrBottomBold: 'в 2006 году',
			picMod: 'modern'
			},
			{
			descr: 'Санузел, кондиционер, холодильник',
			descrBottomBold: 'в каждом номере',
			picMod: 'refrigerator'
			},
			{
			descr: 'Капитальный ремонт был произведён',
			descrBottomBold: 'в 2013 году',
			picMod: 'repair'
			},
			{
			descr: 'Теплоход спроектирован и собран',
			descrBottomBold: 'в Германии',
			picMod: 'ship'
			}];

			var lookClass = '_rest';
			var lookList= [{
			colMod: 'sm',
			pic: '1',
			title: 'Виды кают',
			descr: 'Просто текст без смысла'
			},
			{
			colMod: 'md',
			pic: '2',
			title: 'Ресторан',
			descr: 'Просто текст без смысла, в два рядка'
			},
			{
			colMod: 'sm',
			pic: '3',
			title: 'Бар',
			descr: 'Просто текст без смысла, в два рядка'
			},
			{
			colMod: 'md',
			pic: '4',
			title: 'Развлекательная программа',
			descr: 'Просто текст без смысла'
			},
			{
			colMod: 'md',
			pic: '5',
			title: 'Экскурсионная программа',
			descr: 'Просто текст без смысла'
			}]

		include components/_features
		include components/_look
	//end rest

	//- cabin-types section
	-
		var cabinTypes = {
		classMod: '_default',
		title: 'Виды кают'
		};
		var cabinTypesRow = [{
		title: 'Люкс',
		pic: '1'
		},{
		title: 'ПолуЛюкс',
		pic: '2'
		},{
		title: 'Стандарт',
		pic: '3'
		},{
		title: 'Эконом',
		pic: '4'
		}];
	include components/_cabin-types

	//- contact section
	-
		var contact = {
		classMod: '_bg-2',
		title: 'Нужна помощь? Поможем с выбором!',
		descr: 'Оставьте заявку и менеджер свяжется с вами, чтобы подобрать вам индивидуальную программу отдыха по вашим финансовым возможностям и предпочтениям',
		formTimeField: true
		}
	include components/_contact

	//- fun section
	+b.SECTION.fun
		+b.sect-title
			+e.container.container
				+b.H2.title-md РАЗВЛЕЧЕНИЯ НАЙДУТСЯ ДЛЯ КАЖДОГО
		-
			var featuresClass = '_fun'
			var featuresList = [{
			descr: 'Ресторан',
			picMod: 'restaurant'
			},
			{
			descr: 'Диско-бар',
			picMod: 'disco'
			},
			{
			descr: 'Конференц зал',
			picMod: 'conference'
			},
			{
			descr: 'Детская комната',
			picMod: 'horse'
			},
			{
			descr: 'Мастер-классы',
			picMod: 'masterclass'
			}];
		include components/_features

		-
			var viewSlider = [{ img: '1'},{ img: '2'},{img: '3'},{img: '4'},{img: 'big'},{img: '1'}]
		include components/_view


	//begin restaurant
	+b.SECTION.restaurant._default
		+b.sect-title._has-link
			+e.container.container
				+e.H2.text.title-md Ресторан
				+e.A.link.link-decor(href='#!')
					+png('binocular')
					+e.SPAN Смотреть примерное меню
		+e.container.container
			+e.row
				-
					var restaurantRow = [{
					img: 'director',
					name: 'Элита Станислава Пономарева',
					position: 'Директор'
					},{
					img: 'chief-cook',
					name: 'Надежда Михайловна Волчкова',
					position: 'Шеф-повар'
					}];
				mixin restaurantItem(item)
					+e.person
						+e.person-pic-wrap
							+e.person-pic
								+e.IMG(src='img/content/#{item.img}.jpg').person-img
						+e.person-text
							+e.person-name= item.name
							+e.person-pos= item.position
				each item in restaurantRow
					+restaurantItem(item)

		-
			var featuresClass = '_restaurant'
			var featuresList = [{
			descrTopBold: '3-разовое питание',
			descr: 'завтрак, обед и ужин в одну смену.',
			picMod: 'nutrition'
			},
			{
			descrTopBold: 'Заказное меню',
			descr: 'С возможностью выбора блюд. На выбор предлагаются салаты, супы (на обед), основные блюда и десерты. Заказная система действует, начиная со 2-го дня.',
			picMod: 'menu'
			},
			{
			descrTopBold: 'Для отдыхающих, которые придерживаются диеты или предпочитают пишу “халяль”,',
			descr: 'наши повара приготовятспециальные блюда. Для самых маленьких путешественников можно заказать блюда из “Детского меню”.',
			picMod: 'diet'
			},
			{
			descrTopBold: 'Дни национальной кухни',
			descr: 'русской, украинской, грузинской, итальянской, мексиканской, индийской и т.д.',
			picMod: 'national'
			},
			{
			descrTopBold: 'Детское меню',
			descr: 'специально разработано. Для маленьких туристов (до 5 лет), путешествующих бесплатно (без предоставления отдельно спального места и питания).',
			picMod: 'ice-cream'
			}];
		include components/_features
	//end restaurant

	//- bar section
	-
		var barClass = '_default';
	include components/_bar

	//- contact section
	-
		var contact = {
		classMod: '_bg-3',
		title: 'Есть вопрос по меню? Поможем!',
		descr: 'Оставьте заявку и менеджер свяжется с вами, чтобы ответить на все ваши вопросы',
		formTimeField: true
		}
	include components/_contact

	//- entertain section
	-
		var entertain = {
		classMod: '_default',
		title: 'Развлекательная программа',
		};
		var personList = [{
		img: 'art-director',
		name: 'Екатерина Орлова',
		position: 'Арт-директор',
		descrFirst: '“Арт бригада на теплоходе “Алексей Толстой” - это не просто ведущий, организатор и певцы, музыканты и танцоры - это дружная, энергичная, любящая свое дело команда!”',
		descrSecond: 'Мы создаём и отбираем лучшие номера и предлагаем лишь то, что актуально для определенного рейса.'
		}];

		var list = {
		listClassMod: '_entertain',
		listTitle: 'Что мы делаем:'
		};
		var listText = [{
		text: 'Бесконечное количество сценариев, конкурсов и игр для взрослых и детей;'
		},{
		text: 'Развлекательные шоу-программы разнообразных форматов;'
		},{
		text: 'Только качественный и корректный юмор в рамках выбранной концепции;'
		},{
		text: 'Детский клуб “Буратино” с профессиональными аниматорами для маленьких туристов;'
		},{
		text: 'Зажигательная дискотека для взрослых и мини-диско для детей;'
		},{
		text: 'Мастер-классы от творчесой мастерской “Бешеная пчёлка”.'
		}]
	include components/_entertain

	//begin master
	+b.SECTION.master._default
		+b.sect-title
			+e.container.container
				+e.H2.text.title-md Бесплатные мастер-классы
		+e.container.container
			-
				var lookClass= '_master'
				var lookList= [{
				colMod: 'sm',
				pic: '6',
				title: 'Цветы востока',
				descr: 'Создаём цветы из лент собственными руками'
				},
				{
				colMod: 'md',
				pic: '7',
				title: 'Подставки под кружки',
				descr: 'Просто текст без смысла, в два рядка'
				},
				{
				colMod: 'sm',
				pic: '8',
				title: 'Мыльная опера',
				descr: 'Просто текст без смысла, в два рядка'
				},
				{
				colMod: 'md',
				pic: '9',
				title: 'Цветное стекло',
				descr: 'Просто текст без смысла'
				},
				{
				colMod: 'sm',
				pic: '10',
				title: 'Кукла Тильда',
				descr: 'Просто текст без смысла'
				},
				{
				colMod: 'sm',
				pic: '11',
				title: 'Неваляшка',
				descr: 'Просто текст без смысла'
				}]

			include components/_look

			+e.P Не забудем мы и наших юных туристов. К их распоряжению детская комната. Они исследуют загадочные места, пройдут сложные испытания для того, чтобы найти клад. Смогут проверить свои возможности и проявить таланты. А так же, ребята, научатся создавать чудеса своими руками!
		// end master

	//- contact section
	-
		var contact = {
		classMod: '_bg-4',
		title: 'Есть вопрос по развлечениям? Поможем!',
		descr: 'Оставьте заявку и менеджер свяжется с вами, чтобы ответить на все ваши вопросы',
		formTimeField: true
		}
	include components/_contact

	-
		var excursion = {
		classMod: '_default',
		title: 'Экскурсионные направления'
		}
	include components/_excursion

	//- contact section
	-
		var contact = {
		classMod: '_bg-5',
		title: 'Есть вопрос по экскурсионным турам? Поможем!',
		descr: 'Оставьте заявку и менеджер свяжется с вами, чтобы подобрать вам подходящий экскурсионный тур',
		formTimeField: true
		}
	include components/_contact

	//- testimonials
	-
		var testimonialsClass = '_default';
		testimonialsSlider = [{
		text: '“Сегодня прилетели из Сочи. Отдыхали в горном курорте. Отдохнули отлично!!!! Все было организовано четко и слажено: перелет, трансфер, заселение в отель. Обязательно воспользуюсь услугами снова... ”'
		},{
		text: '“Отличное расположение, в центре поселка - везде близко, пляж рядом... Отзывчивый персонал, говорят на английском. Номер большой”'
		},{
		text: '"Отличное расположение, в центре поселка - везде близко, пляж рядом... Отзывчивый персонал, говорят на английском. Номер большой"'
		},{
		text: '“ Сегодня прилетели из Сочи. Отдыхали в горном курорте. Отдохнули отлично!!!! Все было организовано четко и слажено: перелет, трансфер, заселение в отель. Обязательно воспользуюсь услугами снова... ”'
		},{
		text: '“Отличное расположение, в центре поселка - везде близко, пляж рядом... Отзывчивый персонал, говорят на английском. Номер большой”'
		}];
	include components/_testimonials

	//- about

	-var aboutClass = '_default';
	include components/_about
