if restaurant ? restaurant : restaurant = []

//begin restaurant
+b.SECTION.restaurant(class= restaurant.classMod ? restaurant.classMod : '')
	+b.sect-title._has-link
		+e.container.container
			+e.H2.text.title-md= restaurant.title
			+e.A.link.link-decor(href='#!')
				+png('binocular')
				+e.SPAN Смотреть примерное меню
	+e.container.container

//end restaurant