if restaurant ? restaurant : restaurant = []

//begin restaurant
+b.SECTION.restaurant(class= restaurant.classMod ? restaurant.classMod : '')
	+b.sect-title._has-link
		+e.container.container
			+e.H2.text.title-md= restaurant.title
			+e.A.link.link-decor(href='#!')
				+png('binocular')
				+e.SPAN Смотреть примерное меню
	+e.container.container
		+e.row
			mixin restaurantItem(item)
				+e.person
					+e.person-pic-wrap
						+e.person-pic
							+e.IMG(src='img/content/#{item.img}.jpg').person-img
					+e.person-text
						+e.person-name= item.name
						+e.person-pos= item.position
			each item in restaurantRow
				+restaurantItem(item)
//end restaurant