.restaurant
	background-color: #f4f4f4
	&_default
		padding: 32px 0 43px
	&__row
		padding: 35px 0
		+clr
	&__person
		float: left
		width: 50%
		&-pic-wrap
			position: relative
			display: inline-block
			vertical-align: middle
			width: percentage(246 / 628)
			&::after
				position: absolute
				top: -5%
				right: -42%
				width: 58.1%
				height: 43.9%
				z-index: 1
				content: ''
				background: url(../img/bg/img-decor.png) no-repeat 50% 50%/cover
		&-pic
			position: relative
			z-index: 2
			overflow: hidden
			border: 6px solid $white
			border-radius: 50%
			background: $white
		&-img
			width: 100%
			height: 100%
		&-text
			display: inline-block
			vertical-align: sub
			width: calc(100% - 270px)
			padding-left: 30px
		&-name
			+f('cb', 20)
		&-pos
			font-size: 16px
			
	&__person:nth-child(2n) &__person-text
		padding-left: 45px