$icons: (0:0)
$icons: map-merge($icons,('binocular': (X: -350px, Y:-51px, W: 21px, H: 19px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('call': (X: -350px, Y:-80px, W: 16px, H: 16px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('conference': (X: -122px, Y:-113px, W: 104px, H: 98px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('disco': (X: 0px, Y:-108px, W: 104px, H: 103px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('fan': (X: -350px, Y:-152px, W: 13px, H: 14px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horse': (X: -236px, Y:0px, W: 104px, H: 96px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('masterclass': (X: -122px, Y:0px, W: 104px, H: 103px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -350px, Y:0px, W: 41px, H: 41px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('refr': (X: -381px, Y:-51px, W: 9px, H: 15px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rest_1': (X: -114px, Y:-221px, W: 104px, H: 91px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rest_2': (X: -236px, Y:-106px, W: 104px, H: 95px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rest_3': (X: 0px, Y:-221px, W: 104px, H: 91px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('rest_4': (X: -228px, Y:-221px, W: 104px, H: 79px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('restaurant': (X: 0px, Y:0px, W: 112px, H: 98px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sofa': (X: -350px, Y:-132px, W: 20px, H: 10px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('time': (X: -376px, Y:-80px, W: 15px, H: 15px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('toilet': (X: -374px, Y:-106px, W: 14px, H: 15px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tv': (X: -373px, Y:-152px, W: 13px, H: 12px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('user': (X: -350px, Y:-106px, W: 14px, H: 16px, TW: 391px, TH: 312px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)


.icon-binocular
  width: 21px
  height: 19px
  background-image: url('../img/sprite.png')
  background-position: -350px -51px

.icon-call
  width: 16px
  height: 16px
  background-image: url('../img/sprite.png')
  background-position: -350px -80px

.icon-conference
  width: 104px
  height: 98px
  background-image: url('../img/sprite.png')
  background-position: -122px -113px

.icon-disco
  width: 104px
  height: 103px
  background-image: url('../img/sprite.png')
  background-position: 0px -108px

.icon-fan
  width: 13px
  height: 14px
  background-image: url('../img/sprite.png')
  background-position: -350px -152px

.icon-horse
  width: 104px
  height: 96px
  background-image: url('../img/sprite.png')
  background-position: -236px 0px

.icon-masterclass
  width: 104px
  height: 103px
  background-image: url('../img/sprite.png')
  background-position: -122px 0px

.icon-phone
  width: 41px
  height: 41px
  background-image: url('../img/sprite.png')
  background-position: -350px 0px

.icon-refr
  width: 9px
  height: 15px
  background-image: url('../img/sprite.png')
  background-position: -381px -51px

.icon-rest_1
  width: 104px
  height: 91px
  background-image: url('../img/sprite.png')
  background-position: -114px -221px

.icon-rest_2
  width: 104px
  height: 95px
  background-image: url('../img/sprite.png')
  background-position: -236px -106px

.icon-rest_3
  width: 104px
  height: 91px
  background-image: url('../img/sprite.png')
  background-position: 0px -221px

.icon-rest_4
  width: 104px
  height: 79px
  background-image: url('../img/sprite.png')
  background-position: -228px -221px

.icon-restaurant
  width: 112px
  height: 98px
  background-image: url('../img/sprite.png')
  background-position: 0px 0px

.icon-sofa
  width: 20px
  height: 10px
  background-image: url('../img/sprite.png')
  background-position: -350px -132px

.icon-time
  width: 15px
  height: 15px
  background-image: url('../img/sprite.png')
  background-position: -376px -80px

.icon-toilet
  width: 14px
  height: 15px
  background-image: url('../img/sprite.png')
  background-position: -374px -106px

.icon-tv
  width: 13px
  height: 12px
  background-image: url('../img/sprite.png')
  background-position: -373px -152px

.icon-user
  width: 14px
  height: 16px
  background-image: url('../img/sprite.png')
  background-position: -350px -106px
