.icon-arr-sld_l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arr-sld_r {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-loupe {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-timepick {
  width: 1em;
  height: 1em;
  fill: #dcdcdc;
}
