$icons: (0:0)
$icons: map-merge($icons,('binocular': (X: -228px, Y:-118px, W: 21px, H: 19px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('call': (X: -389px, Y:-311px, W: 16px, H: 16px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('conference': (X: -275px, Y:0px, W: 104px, H: 98px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('diet': (X: -389px, Y:0px, W: 104px, H: 95px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('disco': (X: 0px, Y:-118px, W: 104px, H: 103px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('fan': (X: -252px, Y:-147px, W: 13px, H: 14px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('horse': (X: -114px, Y:-231px, W: 104px, H: 96px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('ice-cream': (X: -228px, Y:-231px, W: 104px, H: 95px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('img-decor': (X: 0px, Y:0px, W: 143px, H: 108px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('masterclass': (X: -114px, Y:-118px, W: 104px, H: 103px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('menu': (X: -275px, Y:-108px, W: 104px, H: 97px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('modern': (X: -389px, Y:-210px, W: 104px, H: 91px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('national': (X: 0px, Y:-231px, W: 104px, H: 96px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -228px, Y:-337px, W: 41px, H: 41px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('refr': (X: -228px, Y:-198px, W: 9px, H: 15px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('refrigerator': (X: -389px, Y:-105px, W: 104px, H: 95px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('repair': (X: 0px, Y:-337px, W: 104px, H: 91px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('restaurant': (X: -153px, Y:0px, W: 112px, H: 98px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('ship': (X: -114px, Y:-337px, W: 104px, H: 79px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sofa': (X: -440px, Y:-311px, W: 20px, H: 10px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('time': (X: -415px, Y:-311px, W: 15px, H: 15px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('toilet': (X: -228px, Y:-173px, W: 14px, H: 15px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tv': (X: -252px, Y:-173px, W: 13px, H: 12px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('user': (X: -228px, Y:-147px, W: 14px, H: 16px, TW: 493px, TH: 428px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)


.icon-binocular
  width: 21px
  height: 19px
  background-image: url('../img/sprite.png')
  background-position: -228px -118px

.icon-call
  width: 16px
  height: 16px
  background-image: url('../img/sprite.png')
  background-position: -389px -311px

.icon-conference
  width: 104px
  height: 98px
  background-image: url('../img/sprite.png')
  background-position: -275px 0px

.icon-diet
  width: 104px
  height: 95px
  background-image: url('../img/sprite.png')
  background-position: -389px 0px

.icon-disco
  width: 104px
  height: 103px
  background-image: url('../img/sprite.png')
  background-position: 0px -118px

.icon-fan
  width: 13px
  height: 14px
  background-image: url('../img/sprite.png')
  background-position: -252px -147px

.icon-horse
  width: 104px
  height: 96px
  background-image: url('../img/sprite.png')
  background-position: -114px -231px

.icon-ice-cream
  width: 104px
  height: 95px
  background-image: url('../img/sprite.png')
  background-position: -228px -231px

.icon-img-decor
  width: 143px
  height: 108px
  background-image: url('../img/sprite.png')
  background-position: 0px 0px

.icon-masterclass
  width: 104px
  height: 103px
  background-image: url('../img/sprite.png')
  background-position: -114px -118px

.icon-menu
  width: 104px
  height: 97px
  background-image: url('../img/sprite.png')
  background-position: -275px -108px

.icon-modern
  width: 104px
  height: 91px
  background-image: url('../img/sprite.png')
  background-position: -389px -210px

.icon-national
  width: 104px
  height: 96px
  background-image: url('../img/sprite.png')
  background-position: 0px -231px

.icon-phone
  width: 41px
  height: 41px
  background-image: url('../img/sprite.png')
  background-position: -228px -337px

.icon-refr
  width: 9px
  height: 15px
  background-image: url('../img/sprite.png')
  background-position: -228px -198px

.icon-refrigerator
  width: 104px
  height: 95px
  background-image: url('../img/sprite.png')
  background-position: -389px -105px

.icon-repair
  width: 104px
  height: 91px
  background-image: url('../img/sprite.png')
  background-position: 0px -337px

.icon-restaurant
  width: 112px
  height: 98px
  background-image: url('../img/sprite.png')
  background-position: -153px 0px

.icon-ship
  width: 104px
  height: 79px
  background-image: url('../img/sprite.png')
  background-position: -114px -337px

.icon-sofa
  width: 20px
  height: 10px
  background-image: url('../img/sprite.png')
  background-position: -440px -311px

.icon-time
  width: 15px
  height: 15px
  background-image: url('../img/sprite.png')
  background-position: -415px -311px

.icon-toilet
  width: 14px
  height: 15px
  background-image: url('../img/sprite.png')
  background-position: -228px -173px

.icon-tv
  width: 13px
  height: 12px
  background-image: url('../img/sprite.png')
  background-position: -252px -173px

.icon-user
  width: 14px
  height: 16px
  background-image: url('../img/sprite.png')
  background-position: -228px -147px
